@using Capstone.Web.Models;
@model List<SurveyFavoritePark>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="flex-container-column">
    <div class="width-100">
        <p>You have successfully submitted the survey. Thank you for your feedback!</p>
    </div>
    <div class="width-100">
        <h1 >Top results</h1>
    </div>
        @foreach (var item in Model)
        {
            <div class="result-row">
                <div class="result-img-contianer">
                    <img class="result-img" src="~/Content/img/parks/@(item.ParkCode.ToLower()).jpg" />
                </div>
                <div class="result-description">
                    <h2 class="result-header2">@item.ParkName</h2>
                    <p>Surveys: @item.NumberOfVotes</p>
                    <p>Location: @item.NameOfState</p>
              </div>
            </div>
        }
</div>
